/* Main CSS file */

@import '_example/_example.css';

body {
  color: #fff;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #343434;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #000;    /* color of the scroll thumb */
  /* border-radius: 20px; */
  /* border: 3px solid orange; */
  border: 1px solid #343434;
}

.flow-container {
  width: 100%;
  height: 100%;
  background-size: 64px;
  background-repeat: repeat;
}

.react-flow__controls {
  display: flex;
}

.react-flow__controls-button {
  fill: #ffffff;
  background: #121212;
}

.react-flow__controls-button:hover {
  background: #232323;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.project-container {
  /* display: flex; */
  height: 100%;
}

.workflow-container {
  flex-direction: column;
  height: 100vh;
}

.main-container {
  background: #000000;
  height: 100%;
  flex: 1;
}

.preview-container {
  height: 500px;
  background: #000000;
}

.menu-container {
  border-right: 1px solid #343434;
}

.texture-preview-container {
  width: 300px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.texture-preview {
  width: 256px;
  height: 256px;
  border: 2px dashed #343434;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container .MuiList-root {
  border-top: 1px solid #343434;
  border-bottom: 1px solid #343434;
}

.map-item.Mui-selected {
  background-color: #2196f3!important;
}


.react-flow__handle.react-flow__handle-right {
  width: 12px;
  height: 12px;
  right: -6px;

  /* border-color: transparent; */
}

.react-flow__handle.react-flow__handle-left {
  width: 12px;
  height: 12px;
  left: -6px;

  /* border-color: transparent; */
}


.react-flow .context-menu {
  position: absolute;
  z-index: 12;

  background-color: #4caf50;

  /* max-width: 240px;
  width: 240px; */
}

.context-menu .context-elements {
  height: 232px;
  max-height: 232px;

  background: #000;

  overflow: auto;
}

.context-elements > div {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.context-elements > div::before {
  display: none;
}

.react-flow .context-menu .MuiAccordion-region {
  background-color: #000000;
  /* background-color: #121212; */
}

.react-flow .context-menu .MuiAccordionSummary-contentGutters,
.react-flow .context-menu .MuiAccordionSummary-content {
  margin: 0;
}

.react-flow .context-menu .MuiAccordionSummary-root {
  min-height: 28px;
  font-size: 15px;
}

.react-flow .context-menu .MuiAccordionDetails-root {
  padding: 0;
}

.react-flow .context-menu .MuiListItemButton-root {
  padding: 0 0 0 16px;
}

/* #121212 */

/* MuiAccordionSummary-content css-1betqn-MuiAccordionSummary-content */
/* MuiAccordionSummary-content Mui-expanded MuiAccordionSummary-contentGutters css-o4b71y-MuiAccordionSummary-content */


.node-base {
  min-width: 160px;
  box-sizing: border-box;

  background: #000;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px!important;
  border-color: #1a192b;
  
  /* border: 1px solid #777; */

  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 8%);

  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.node-base__input {
  border-color: #2196f3;
  box-shadow: 0 0 4px 0px #2196f3;
}

.node-base__output {
  border-color: #e91e63;
  box-shadow: 0 0 4px 0px #e91e63;
}

.react-flow__node.selected .node-base {
  border-color: #fff;
}

/* 
.react-flow__node.selected .node-base.node-base__input {
  border-color: #90caf9;
}

.react-flow__node.selected .node-base.node-base__output {
  border-color: #f48fb1;
}
*/

.node-base__closed .node-base__body {
  height: 0;
  overflow: hidden;
}

.node-base__closed .react-flow__handle {
  top: 11px;
  position: fixed;
  visibility: collapse;
}

.node-base__content {
  position: relative;
  padding: 10px;
  background-color: #000000;
}

.node-base__content:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.node-base__header {
  /* text-align: center; */
  border-bottom: 1px solid #343434;
  background-color: #121212;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  display: grid;
  grid-template-columns: auto 24px;
}

.node-base__header__title {
  text-align: center;
}

.node-base__header__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: initial;
}

.node-base__header__btn div {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #232323;

  display: flex;
  justify-content: center;
  align-items: center;
}

.node-base__header__btn div:hover {
  background-color: #343434;
}

.node-base__header__btn span {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 8px solid #888;
}


.node-input {
  padding: 0 8px 8px 8px;
}

.node-input__label {
  padding: 8px 8px 0 8px;
}

.node-input_group {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.node-input_group .MuiFilledInput-root::before {
  border-color: #343434;
}

.node-input_group .MuiFilledInput-root {
  overflow: hidden;
}

.node-input_group .MuiFilledInput-root {
  border-radius: 0;
}

.node-input_group .input-slider:first-of-type .input-slider__input {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.node-input_group .input-slider:last-of-type .input-slider__input {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* MuiFilledInput-root MuiFilledInput-underline MuiInputBase-root MuiInputBase-colorPrimary MuiInputBase-formControl MuiInputBase-sizeSmall MuiInputBase-hiddenLabel css-121n1y1-MuiInputBase-root-MuiFilledInput-root */

/* text-align: right; */
.react-flow__handle.sampler {
  background-color: #2196f3;
}
.react-flow__handle.vec2 {
  background-color: #8bc34a;
}

.react-flow__handle.vec3 {
  background-color: #009688;
}

.react-flow__handle.vec4 {
  background-color: #e91e63;
}

.react-flow__handle.float {
  background-color: #673ab7;
}

.input-slider .input-slider__input {
  display: grid;
  grid-template-columns: auto 20px;

  background-color: rgba(255, 255, 255, 0.09);
  border-bottom: 1px solid #343434;
  transition: border-color 0.2s;

  height: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.input-slider__input:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.input-slider__input.focused {
  background-color: rgba(255, 255, 255, 0.09);
  border-color: #2196f3;
}

.input-slider .input-slider__input__content {
  height: 100%;
}

.input-slider__input__handles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.2s;

  touch-action: none;
}

.input-slider:hover .input-slider__input__handles {
  opacity: 1.0;
}

.input-slider__input__handles > svg:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.input-slider__input__handles > svg:first-child {
  transform: rotate(180deg);
}

.input-slider__input__handles > svg:first-child,
.input-slider__input__handles > svg:last-child {
  width: 20px;
  height: 20px;

  /* cursor: ns-resize; */
  cursor: initial;
}

.input-slider__input input {
  -webkit-tap-highlight-color: transparent;
  display: block;

  min-width: 0;
  width: 100%;

  padding: 8px 24px 9px 12px;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  color: #fff;

  font: inherit;
  letter-spacing: inherit;

  font-size: 15px;

  outline: none;
}


.search-field {
  background: #000;
  display: flex;
}

.search-field button {
  color: #343434;
}

.search-node {
  
  width: 100%;
  margin: 0!important;
}

.search-node input {
  padding-left: 16px;
}



