/* Main CSS file */

@import '_example/_example.css';
/* @import '../fonts/roboto/index.css'; */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

body {
  color: #fff;
  margin: 0;
  font-family: "Roboto";
}

::-webkit-scrollbar {
  width: 6px;
}

/* ::-webkit-scrollbar {
  width: 8px;
} */

::-webkit-scrollbar-track {
  background: #101010;        /* color of the tracking area */
}

/* ::-webkit-scrollbar-track {
  background: #343434;
} */

::-webkit-scrollbar-thumb {
  background-color: #323232;
  /* #2196f3 */
  /* border: 1px solid #343434; */
}

/* ::-webkit-scrollbar-thumb {
  background-color: #000;
  border: 1px solid #343434;
} */

/* *, *::before, *::after {
  box-sizing: inherit;
} */

.transition {
  /* box-sizing: inherit; */
  position: fixed;
  width: 100%;
  /* display: block; */
}

.projects-view {
  display: grid;
  grid-template-rows: 38px auto;
  height: 100vh;
}

.projects-view__tabs {
  background: #000;
  width: 100vw;

  position: relative;
  overflow: hidden;
  overflow-x: scroll;
}

.projects-view__tabs > div {
  height: 100%;
  display: inline-block;
  overflow: visible;
  position: relative;
 }

.projects-view__tabs::-webkit-scrollbar {
  height: 2px;
}

.projects-view__tabs::-webkit-scrollbar-thumb {
  background-color: #2196f3;
}

.projects-view__views {
  box-sizing: border-box;
  border-top: 1px solid #343434;
}

.project {
  height: 100%;
}

.empty-project-container {
  font-size: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #646464;
  font-weight: 300;
}

.flow-container {
  width: 100%;
  height: 100%;
  background-size: 64px;
  background-repeat: repeat;
}

.react-flow__controls {
  display: flex;
}

.react-flow__controls-button {
  fill: #ffffff;
  background: #121212!important;
}

.react-flow__controls-button:hover {
  background: #232323!important;
}

.app-container {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  /* background: #121212; */
}

.project-container {
  /* display: flex; */
  height: 100%;
}

.workflow-container {
  flex-direction: column;
  height: 100%;
}

.main-container {
  background: #000000;
  height: 100%;
  flex: 1;
}

.preview-container {
  height: 500px;
  background: #000000;
}

.menu-container {
  border-right: 1px solid #343434;
  background: #121212;
}

.texture-preview-container {
  width: 300px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.texture-preview {
  width: 256px;
  height: 256px;
  border: 2px dashed #343434;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container .MuiList-root {
  border-top: 1px solid #343434;
  border-bottom: 1px solid #343434;
}

.map-item.Mui-selected {
  background-color: #2196f3!important;
}


.react-flow__handle.react-flow__handle-right {
  width: 12px;
  height: 12px;
  right: -6px;

  /* border-color: transparent; */
}

.react-flow__handle.react-flow__handle-left {
  width: 12px;
  height: 12px;
  left: -6px;

  /* border-color: transparent; */
}


.react-flow .context-menu {
  position: absolute;
  z-index: 12;

  background-color: #4caf50;

  /* max-width: 240px;
  width: 240px; */
}

.context-menu .context-elements {
  height: 232px;
  max-height: 232px;

  background: #000;

  overflow: auto;
}

.context-elements > div {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.context-elements > div::before {
  display: none;
}

.react-flow .context-menu .MuiAccordion-region {
  background-color: #000000;
  /* background-color: #121212; */
}

.react-flow .context-menu .MuiAccordionSummary-contentGutters,
.react-flow .context-menu .MuiAccordionSummary-content {
  margin: 0;
}

.react-flow .context-menu .MuiAccordionSummary-root {
  min-height: 28px;
  font-size: 15px;
}

.react-flow .context-menu .MuiAccordionDetails-root {
  padding: 0;
}

.react-flow .context-menu .MuiListItemButton-root {
  padding: 0 0 0 16px;
}

/* #121212 */

/* MuiAccordionSummary-content css-1betqn-MuiAccordionSummary-content */
/* MuiAccordionSummary-content Mui-expanded MuiAccordionSummary-contentGutters css-o4b71y-MuiAccordionSummary-content */


.node-base {
  min-width: 160px;
  box-sizing: border-box;

  background: #000;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px!important;
  border-color: #1a192b;
  
  /* border: 1px solid #777; */

  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 8%);

  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.node-base__input {
  border-color: #2196f3;
  box-shadow: 0 0 4px 0px #2196f3;
}

.node-base__output {
  border-color: #e91e63;
  box-shadow: 0 0 4px 0px #e91e63;
}

.react-flow__node.selected .node-base {
  border-color: #fff;
}

/* 
.react-flow__node.selected .node-base.node-base__input {
  border-color: #90caf9;
}

.react-flow__node.selected .node-base.node-base__output {
  border-color: #f48fb1;
}
*/

.node-base__closed .node-base__body {
  height: 0;
  overflow: hidden;
}

.node-base__closed .react-flow__handle {
  top: 11px;
  position: fixed;
  visibility: collapse;
}

.node-base__content {
  position: relative;
  padding: 10px;
  background-color: #000000;
}

.node-base__content:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.node-base__header {
  /* text-align: center; */
  border-bottom: 1px solid #343434;
  background-color: #121212;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  display: grid;
  grid-template-columns: auto 24px;
}

.node-base__header__title {
  text-align: center;
}

.node-base__header__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: initial;
}

.node-base__header__btn div {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #232323;

  display: flex;
  justify-content: center;
  align-items: center;
}

.node-base__header__btn div:hover {
  background-color: #343434;
}

.node-base__header__btn span {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 8px solid #888;
}


.node-input {
  padding: 0 8px 8px 8px;
}

.node-input__label {
  padding: 8px 8px 0 8px;
}

.node-input_group {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.node-input_group .MuiFilledInput-root::before {
  border-color: #343434;
}

.node-input_group .MuiFilledInput-root {
  overflow: hidden;
}

.node-input_group .MuiFilledInput-root {
  border-radius: 0;
}

.node-input_group .input-slider:first-of-type .input-slider__input {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.node-input_group .input-slider:last-of-type .input-slider__input {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* MuiFilledInput-root MuiFilledInput-underline MuiInputBase-root MuiInputBase-colorPrimary MuiInputBase-formControl MuiInputBase-sizeSmall MuiInputBase-hiddenLabel css-121n1y1-MuiInputBase-root-MuiFilledInput-root */

/* text-align: right; */
.react-flow__handle.sampler {
  background-color: #2196f3;
}
.react-flow__handle.vec2 {
  background-color: #8bc34a;
}

.react-flow__handle.vec3 {
  background-color: #009688;
}

.react-flow__handle.vec4 {
  background-color: #e91e63;
}

.react-flow__handle.float {
  background-color: #673ab7;
}

.input-slider .input-slider__input {
  display: grid;
  grid-template-columns: auto 20px;

  background-color: rgba(255, 255, 255, 0.09);
  border-bottom: 1px solid #343434;
  transition: border-color 0.2s;

  height: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.input-slider__input:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.input-slider__input.focused {
  background-color: rgba(255, 255, 255, 0.09);
  border-color: #2196f3;
}

.input-slider .input-slider__input__content {
  height: 100%;
}

.input-slider__input__handles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.2s;

  touch-action: none;
}

.input-slider:hover .input-slider__input__handles {
  opacity: 1.0;
}

.input-slider__input__handles > svg:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.input-slider__input__handles > svg:first-child {
  transform: rotate(180deg);
}

.input-slider__input__handles > svg:first-child,
.input-slider__input__handles > svg:last-child {
  width: 20px;
  height: 20px;

  /* cursor: ns-resize; */
  cursor: initial;
}

.input-slider__input input {
  -webkit-tap-highlight-color: transparent;
  display: block;

  min-width: 0;
  width: 100%;

  padding: 8px 24px 9px 12px;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  color: #fff;

  font: inherit;
  letter-spacing: inherit;

  font-size: 15px;

  outline: none;
}


.search-field {
  background: #000;
  display: flex;
}

.search-field button {
  color: #343434;
}

.search-node {
  
  width: 100%;
  margin: 0!important;
}

.search-node input {
  padding-left: 16px;
}











.workspace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  /* background: #000; */
  /* position: relative; */
}

.workspace-panel {
  min-width: 512px;
  min-height: 386px;

  /* padding: 24px; */

  border: solid 1px transparent;
  position: relative;

  box-sizing: border-box;


  font-size: 48px;
  font-weight: 100;
  font-family: 'Roboto';
}

.workspace-panel:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: linear-gradient(135deg, #2196f3, #e91e63);
}


.workspace-header {
  text-align: center;
  padding-top: 24px;

  /* box-sizing: border-box; */
  /* height: 96px; */
}

.projects-list {
  width: 100%;

  height: 232px;
  overflow: auto;
}

.projects-buttons {
  display: flex;
  padding: 16px 8px;
  width: 100%;
}

.projects-buttons button {
  /* background: #2196f3; */
  color: #eee;
  width: 100%;
}





.chrome-tab {
  position: absolute;
  bottom: -2px;
  height: 34px;

  z-index: 2;
}

.chrome-tab:not(.active) {
  /* transition: 0.3s; */
}

.chrome-tab:hover {
  z-index: 3;
}

.chrome-tab.active {
  z-index: 5;
}

.chrome-tab-dividers {
  position: absolute;
  width: 100%;
}

/*
.chrome-tab-dividers:before {
  content: '';
  position: absolute;

  height: 18px;
  width: 1px;
  left: 9px;
  top: 8px;
  
  z-index: 10;
  background: #343434;
}
*/

.chrome-tab-dividers:after {
  content: '';
  position: absolute;

  height: 18px;
  width: 1px;
  right: 10px;
  top: 8px;
  
  /* z-index: 10; */
  background: #343434;
}

.chrome-tab-background {
  position: absolute;
  /* fill: #343434; */
  /* fill: none;
  stroke: none; */

  /* fill: #121212; */

  height: 100%;
}

.chrome-tab .chrome-tab-background svg {
  fill: none;
  stroke: none;
  /* stroke: #343434; */
}

.chrome-tab:not(.active):hover .chrome-tab-background svg{
  fill: #343434;
}

.chrome-tab.active .chrome-tab-background svg {
  fill: #121212;
  stroke: #2196f3;
  /* stroke: #343434; */
}

.chrome-tab-background svg {
  width: 100%;
  height: 100%;
}

.chrome-tab-content {
  position: absolute;
  height: 100%;
  width: 100%;

  padding: 0 10px;
  
  display: flex;
  align-items: center;

  user-select: none;
}

.chrome-tab-close {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.chrome-tab-close svg {
  width: 14px;
  height: 14px;
}

.chrome-tab-title {
  margin-left: 8px;
  padding-right: 8px;

  font-weight: 100;
  font-size: 14px;
  
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chrome-tab .chrome-tab-drag-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  touch-action: none;
}


