/* Main CSS file */

@import '_example/_example.css';

body {
  color: #fff;
  margin: 0;
}

.flow-container {
  width: 100%;
  height: 100%;
  background-size: 64px;
  background-repeat: repeat;
}

.react-flow__controls {
  display: flex;
}

.react-flow__controls-button {
  fill: #ffffff;
  background: #121212;
}

.react-flow__controls-button:hover {
  background: #232323;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.project-container {
  /* display: flex; */
  height: 100%;
}

.workflow-container {
  flex-direction: column;
  height: 100vh;
}

.main-container {
  background: #000000;
  height: 100%;
  flex: 1;
}

.preview-container {
  height: 300px;
  background: #000000;
}

.menu-container {
  border-right: 1px solid #343434;
}

.texture-preview-container {
  width: 300px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.texture-preview {
  width: 256px;
  height: 256px;
  border: 2px dashed #343434;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container .MuiList-root {
  border-top: 1px solid #343434;
  border-bottom: 1px solid #343434;
}

.map-item.Mui-selected {
  background-color: #2196f3!important;
}


.node-base {
  min-width: 160px;
  box-sizing: border-box;

  background: transparent;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px!important;
  border-color: #1a192b;
  
  /* border: 1px solid #777; */

  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 8%);

  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.node-base__input {
  border-color: #2196f3;
  box-shadow: 0 0 4px 0px #2196f3;
}

.node-base__output {
  border-color: #e91e63;
  box-shadow: 0 0 4px 0px #e91e63;
}

.node-base__content {
  position: relative;
  padding: 10px;
  background-color: #000000;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.node-base__header {
  text-align: center;
  border-bottom: 1px solid #343434;
  background-color: #121212;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* text-align: right; */


